@inherits CollapseButtonComponentBase
<Button Class="@Class" Clicked="OnClick">
    @if (Model.Show)
    {
        <i class="fas fa-chevron-up"></i>
    }
    else
    {
        <i class="fas fa-chevron-down"></i>
    }
</Button>
